<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.png" type="image/x-icon" />

    <link rel="stylesheet" href="/styles.css" />
    <title>წიგნიერი-მეორადი წიგნების მარკეტი</title>
    <meta
      name="description"
      content="მეორადი წიგნების ყიდვა გაყიდვის ქართული მარკეტი. მოძებნე იყიდე და გაყიდე წიგნები მარტივად "
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="logo.png" alt="" />
      </a>
      <div class="search-input-dropdown">
        <div class="search-dropdown">
          <% if (user) { %>
          <div class="user-menu">
            <p>
              გამარჯობა, <%= user.username %>! <br />
              <span>&nabla;</span>
            </p>

            <div class="user-options">
              <a href="/logout">გამოსვლა</a>
              <a href="/add-book">წიგნის დამატება</a>
              <a href="/my-books">ჩემი წიგნები</a>
              <a href="/about">საიტის შესახებ</a>
            </div>
          </div>
          <% } else { %>
          <a href="/login">შესვლა</a>
          <a href="/register">რეგისტრაცია</a>
          <a href="/about">საიტის შესახებ</a>

          <% } %>
        </div>
        <div class="search" style="margin: 0px; padding: 0px">
          <input
            type="text"
            id="search-input"
            placeholder="წიგნის ავტორი ან სახელი"
          />
          <button
            style="background: none; border: none"
            onclick="searchBooks()"
          >
            <img class="search-img" src="/search.png" alt="" />
          </button>
        </div>
      </div>
    </header>
    <section class="book-content">
      <h1 style="padding-bottom: 20px">ჩემი წიგნები</h1>
      <div class="book-list">
        <% if (books.length === 0) { %>
        <p>No books found. Start by adding some!</p>
        <% } else { %> <% books.forEach(book => { %>
        <div class="book">
          <h2><%= book.title %></h2>
          <p>Author: <%= book.author %></p>
          <p>Language: <%= book.language %></p>
          <p>Description: <%= book.description %></p>
          <img
            src="/uploads/<%= book.photo.split('/').pop() %>"
            alt="<%= book.title %>"
          />
          <form
            action="/delete-book/<%= book.id %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form>
        </div>
        <% }); %> <% } %>
      </div>
    </section>
  </body>
</html>
